<h3>Create a new Poem</h3>
<form action="/poems" method="POST">
  <input type="text" name="title" placeholder="Title:">
  <input type="text" name="description" placeholder="Description:">
  <br>
<!-- <input type="text" size="150%" name="content" placeholder="Content:"> -->
<textarea name="content" id="content" placeholder="Content:" style="width:50%;height:300px;font:18px sans-serif"></textarea>
  <br>
  <input type="submit" value="add to diary">
</form>